html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  letter-spacing: 0;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'VT323', monospace;
}

.button {
  width: 200px;
  height: 30px;
  font-size: 18px;
  line-height: 30px;;
  text-transform: uppercase;
  text-align: center;
  background-color: black;
  color: white;
  border: 1px solid white;
  user-select: none;

}

.button:hover {
  cursor: pointer;
}

.button:active {
  cursor: pointer;
  transform: translateY(4px);
}
